students
{
margin-left:40%;


}
student
{
 background-color:yellow;
display:block;
margin-top:20px;
}

student1
{
 background-color:#4dffff;
display:block;
margin-top:20px;
}

student2-
{
 background-color: #ff704d;
display:block;
margin-top:20px;
}

NAME
{
display:block;
color:red;
}

EMAIL
{
display:block;
color:blue;
}


YEAR
{
display:block;
color:orange;
}

COLLEGE
{
display:block;
color:maroon;
}


BRANCH
{
display:block;
color:black;
}


